
  
  .Document {
    background-color: #323639;
  }
  
  #logo {
    width: 100px;
  }

  .Document input,
  .Document button {
    font: inherit;
  }
  
  .Document header {
    background-color: #323639;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .Document header h1 {
    font-size: inherit;
    margin: 0;
  }
  
  .Document__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
  }
  
  .Document__container__load {
    margin-top: 1em;
    color: white;
  }
  
  .Document__container__document {
    margin: 1em 0;
  }
  
  .Document__container__document .react-pdf__Document {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Document__container__document .react-pdf__Page {
    max-width: calc(100%);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    margin: 1em;
  }
  
  .Document__container__document .react-pdf__Page canvas {
    max-width: 100%;
    height: auto !important;
  }
  
  .Document__container__document .react-pdf__message {
    padding: 20px;
    color: white;
  }
